body {
    background-image: url("candy.jpg");
    background-size: cover;
    font-family: Georgia,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color:#E0115F
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 30px;
}

.container {
    background:#FFF1FA;
    max-width:80%;
    margin:40px;
    padding:10px;
    border-radius:10px;
    border:3px #E0115F;
    
}

#increment-btn {
    background: #E0115F;
}

#save-btn {
    background: #e4717a;
}